:root {
  --color-primary: #FA5601;
  --color-primary-hover: #d94e18;
  --color-dark: #001134;
  --color-text-main: #101717;
  --color-text-light: #45546C;
  --color-bg-light: #FEFEFF;
  --color-bg-dark: #F8FAFC;
  --color-border: rgba(0, 0, 0, 0.5);
  --border-radius: 8px;
  --font-family: 'Inter', -apple-system, BlinkMacSystemFont, sans-serif;
  --max-width: 1200px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-family), serif;
  color: var(--color-text-main);
}

h1, h2, h3 {
  margin-bottom: 10px;
}

input, textarea {
  font-family: inherit;
}
